name: Test
on:
  push:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: go-semantic-release/action@v1
      id: semrel
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        changelog-generator-opt: "emojis=true"